# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!.gitignore
package.json

# Images
!Command_0.rpgmvp
!Command_1.rpgmvp
!Command_2.rpgmvp
!ATTACKdown.rpgmvp
!ATTACKUP.rpgmvp
!battle.rpgmvp
!dungeon_sinkoh_base.rpgmvp
!fera.rpgmvp
!furea.rpgmvp
!GURDdown.rpgmvp
!GURDUP.rpgmvp
!heal.rpgmvp
!horu.rpgmvp
!hosi1atumeru.rpgmvp
!hosi1sagasu.rpgmvp
!hosi1toubatu.rpgmvp
!hosi2atumeru.rpgmvp
!hosi2sagasu.rpgmvp
!hosi2toubatu.rpgmvp
!hosi3atumeru.rpgmvp
!hosi3sagasu.rpgmvp
!hosi3toubatu.rpgmvp
!ibento.rpgmvp
!inadumakiri.rpgmvp
!iraimodoru.rpgmvp
!kabau.rpgmvp
!kegare.rpgmvp
!kegaredown.rpgmvp
!kegareup.rpgmvp
!kiaitame.rpgmvp
!kiss.rpgmvp
!kunni.rpgmvp
!matinimodoru.rpgmvp
!MAXHP.rpgmvp
!MAXHPdown.rpgmvp
!MAXMPdown.rpgmvp
!MAXMPUP.rpgmvp
!modoru_moji.rpgmvp
!nigeru.rpgmvp
!noizu.rpgmvp
!nokkuauto.rpgmvp
!NPC.rpgmvp
!omanko.rpgmvp
!order.rpgmvp
!paizuri.rpgmvp
!result_kikan_30ftoutatu.rpgmvp
!result_kikan_kogataw.rpgmvp
!result_kikan_toho.rpgmvp
!result_kikan_warp.rpgmvp
!result_kyuushutu.rpgmvp
!result_monica_down.rpgmvp
!result_monica_seizon.rpgmvp
!result_siawasenohako.rpgmvp
!result_zenmetu.rpgmvp
!sakiwoisogu.rpgmvp
!shuchuu.rpgmvp
!spark.rpgmvp
!SPEEDdown.rpgmvp
!SPEEDUP.rpgmvp
!susumu.rpgmvp
!S_dungeon.rpgmvp
!S_guild.rpgmvp
!S_INN.rpgmvp
!S_menu.rpgmvp
!S_odekake.rpgmvp
!S_shop.rpgmvp
!S_skillset.rpgmvp
!S_Training.rpgmvp
!S_uramichi.rpgmvp
!takarabako.rpgmvp
!tansakusuru.rpgmvp
!tasukeru.rpgmvp
!tekinonegura.rpgmvp
!torikesu.rpgmvp
!trap.rpgmvp
!turuginomai.rpgmvp
!WISDOMdown.rpgmvp
!WISDOMUP.rpgmvp
!yasumi.rpgmvp
!yasumu.rpgmvp
!zenryokugiri.rpgmvp
!ATTACKdown.rpgmvp
!ATTACKUP.rpgmvp
!battle.rpgmvp
!BG_techou.rpgmvp
!BG_techou_sanae.rpgmvp
!BG_techou_shujinkou.rpgmvp
!dungeon_sinkoh_base.rpgmvp
!EVBG_sakunyuu_ci_moji1.rpgmvp
!EVBG_sakunyuu_ci_moji2.rpgmvp
!EVH_srymetrap_ci02.rpgmvp
!EVH_suiminkan_teiten_02.rpgmvp
!EVH_suiminkan_teiten_06.rpgmvp
!EV_koukando_kiss2_ci2.rpgmvp
!EV_koukando_kiss2_ci5.rpgmvp
!furea.rpgmvp
!GURDdown.rpgmvp
!GURDUP.rpgmvp
!heal.rpgmvp
!horu.rpgmvp
!hosi1atumeru.rpgmvp
!hosi1sagasu.rpgmvp
!hosi1toubatu.rpgmvp
!hosi2atumeru.rpgmvp
!hosi2sagasu.rpgmvp
!hosi2toubatu.rpgmvp
!hosi3atumeru.rpgmvp
!hosi3sagasu.rpgmvp
!hosi3toubatu.rpgmvp
!ibento.rpgmvp
!inadumakiri.rpgmvp
!iraimodoru.rpgmvp
!kabau.rpgmvp
!kegare.rpgmvp
!kegaredown.rpgmvp
!kegareup.rpgmvp
!kiaitame.rpgmvp
!matinimodoru.rpgmvp
!MAXHP.rpgmvp
!MAXHPdown.rpgmvp
!MAXMPdown.rpgmvp
!MAXMPUP.rpgmvp
!modoru_moji.rpgmvp
!mojisozai_0000_pyupyu.rpgmvp
!mojisozai_0001_muwwaa.rpgmvp
!mojisozai_0002_nucchu.rpgmvp
!mojisozai_0003_showawa.rpgmvp
!mojisozai_0004_bubyubyu.rpgmvp
!mojisozai_0005_oho.rpgmvp
!mojisozai_0006_nho.rpgmvp
!mojisozai_0007_a.rpgmvp
!mojisozai_0008_nupun.rpgmvp
!mojisozai_0009_nupupu.rpgmvp
!mojisozai_0010_gititi.rpgmvp
!mojisozai_0011_2_pan2.rpgmvp
!mojisozai_0011_pan.rpgmvp
!mojisozai_0012_nuppo.rpgmvp
!mojisozai_0013_byu-.rpgmvp
!mojisozai_0014_juro.rpgmvp
!mojisozai_0015_jururu.rpgmvp
!mojisozai_0016_suuu.rpgmvp
!mojisozai_0017_haaa.rpgmvp
!mojisozai_0018_nuchuu.rpgmvp
!mojisozai_0019_a.rpgmvp
!mojisozai_0020_nn.rpgmvp
!mojisozai_0021_kyuu.rpgmvp
!mojisozai_0022_nuju.rpgmvp
!mojisozai_0023_dopu.rpgmvp
!mojisozai_0024_bubyu.rpgmvp
!mojisozai_0025_iraitassei.rpgmvp
!mojisozai_0026_buryuburyu.rpgmvp
!mojisozai_0027_gupo.rpgmvp
!mojisozai_0028_dyupo.rpgmvp
!mojisozai_0028_zupun.rpgmvp
!mojisozai_0029_gunyu.rpgmvp
!mojisozai_0030_jururu.rpgmvp
!mojisozai_0031_chupa.rpgmvp
!mojisozai_0032_zypu.rpgmvp
!mojisozai_0033_zucyu.rpgmvp
!mojisozai_0034_pachu.rpgmvp
!mojisozai_0035_ikku.rpgmvp
!mojisozai_0036_ahi.rpgmvp
!mojisozai_0037_fu.rpgmvp
!mojisozai_0038_chu.rpgmvp
!mojisozai_0039_chupu.rpgmvp
!mojisozai_0040_byurubyuru.rpgmvp
!mojisozai_0041_haaha.rpgmvp
!mojisozai_0042_sikosiko.rpgmvp
!mojisozai_0043_pachun.rpgmvp
!mojisozai_0044_ikuiku.rpgmvp
!mojisozai_0045_biku.rpgmvp
!mojisozai_0046_kuchu.rpgmvp
!mojisozai_0047_pusha.rpgmvp
!mojisozai_0048_nn!.rpgmvp
!mojisozai_0049_nn-!.rpgmvp
!mojisozai_0050_fuu-.rpgmvp
!mojisozai_0051_munimuni.rpgmvp
!mojisozai_0052_zuzuzuz.rpgmvp
!mojisozai_0053_jururur.rpgmvp
!mojisozai_an01.rpgmvp
!mojisozai_an02.rpgmvp
!mojisozai_an03.rpgmvp
!mojisozai_an04.rpgmvp
!mojisozai_an05.rpgmvp
!mojisozai_bububu01.rpgmvp
!mojisozai_bububu02.rpgmvp
!mojisozai_bububu03.rpgmvp
!mojisozai_bububu04.rpgmvp
!mojisozai_bububu05.rpgmvp
!mojisozai_byuru.rpgmvp
!mojisozai_byurururu.rpgmvp
!mojisozai_chupu01.rpgmvp
!mojisozai_chupu02.rpgmvp
!mojisozai_chupu03.rpgmvp
!mojisozai_chupu04.rpgmvp
!mojisozai_chupu05.rpgmvp
!mojisozai_dopu01.rpgmvp
!mojisozai_dopu02.rpgmvp
!mojisozai_dopu03.rpgmvp
!mojisozai_dopu04.rpgmvp
!mojisozai_dopu05.rpgmvp
!mojisozai_dopu2.rpgmvp
!mojisozai_gokyu01.rpgmvp
!mojisozai_gokyu02.rpgmvp
!mojisozai_gokyu03.rpgmvp
!mojisozai_gokyu04.rpgmvp
!mojisozai_gokyu05.rpgmvp
!mojisozai_gopopo01.rpgmvp
!mojisozai_gopopo02.rpgmvp
!mojisozai_gopopo03.rpgmvp
!mojisozai_gopopo04.rpgmvp
!mojisozai_gopopo05.rpgmvp
!mojisozai_haaf01.rpgmvp
!mojisozai_haaf02.rpgmvp
!mojisozai_haaf03.rpgmvp
!mojisozai_haaf04.rpgmvp
!mojisozai_haaf05.rpgmvp
!mojisozai_haa_love01.rpgmvp
!mojisozai_haa_love02.rpgmvp
!mojisozai_haa_love03.rpgmvp
!mojisozai_haa_love04.rpgmvp
!mojisozai_haa_love05.rpgmvp
!mojisozai_jupo01.rpgmvp
!mojisozai_jupo02.rpgmvp
!mojisozai_jupo03.rpgmvp
!mojisozai_jupo04.rpgmvp
!mojisozai_jupo05.rpgmvp
!mojisozai_jupo_love01.rpgmvp
!mojisozai_jupo_love02.rpgmvp
!mojisozai_jupo_love03.rpgmvp
!mojisozai_jupo_love04.rpgmvp
!mojisozai_jupo_love05.rpgmvp
!mojisozai_kuchi01.rpgmvp
!mojisozai_kuchi02.rpgmvp
!mojisozai_kuchi03.rpgmvp
!mojisozai_kuchi04.rpgmvp
!mojisozai_kuchi05.rpgmvp
!mojisozai_kuchu01.rpgmvp
!mojisozai_kuchu02.rpgmvp
!mojisozai_kuchu03.rpgmvp
!mojisozai_kuchu04.rpgmvp
!mojisozai_kuchu05.rpgmvp
!mojisozai_kuchu2_01.rpgmvp
!mojisozai_kuchu2_02.rpgmvp
!mojisozai_kuchu2_03.rpgmvp
!mojisozai_kuchu2_04.rpgmvp
!mojisozai_kuchu2_05.rpgmvp
!mojisozai_kurikuri01.rpgmvp
!mojisozai_kurikuri02.rpgmvp
!mojisozai_kurikuri03.rpgmvp
!mojisozai_kurikuri04.rpgmvp
!mojisozai_kurikuri05.rpgmvp
!mojisozai_momi01.rpgmvp
!mojisozai_momi02.rpgmvp
!mojisozai_momi03.rpgmvp
!mojisozai_momi04.rpgmvp
!mojisozai_momi05.rpgmvp
!mojisozai_momi_love01.rpgmvp
!mojisozai_momi_love02.rpgmvp
!mojisozai_momi_love03.rpgmvp
!mojisozai_momi_love04.rpgmvp
!mojisozai_momi_love05.rpgmvp
!mojisozai_muni_love01.rpgmvp
!mojisozai_muni_love02.rpgmvp
!mojisozai_muni_love03.rpgmvp
!mojisozai_muni_love04.rpgmvp
!mojisozai_muni_love05.rpgmvp
!mojisozai_n.rpgmvp
!mojisozai_nfu-01.rpgmvp
!mojisozai_nfu-02.rpgmvp
!mojisozai_nfu-03.rpgmvp
!mojisozai_nfu-04.rpgmvp
!mojisozai_nfu-05.rpgmvp
!mojisozai_nfu-_love01.rpgmvp
!mojisozai_nfu-_love02.rpgmvp
!mojisozai_nfu-_love03.rpgmvp
!mojisozai_nfu-_love04.rpgmvp
!mojisozai_nfu-_love05.rpgmvp
!mojisozai_nn01.rpgmvp
!mojisozai_nn02.rpgmvp
!mojisozai_nn03.rpgmvp
!mojisozai_nn04.rpgmvp
!mojisozai_nn05.rpgmvp
!mojisozai_nn_iki.rpgmvp
!mojisozai_nuju01.rpgmvp
!mojisozai_nuju02.rpgmvp
!mojisozai_nuju03.rpgmvp
!mojisozai_nuju04.rpgmvp
!mojisozai_nuju05.rpgmvp
!mojisozai_nuju_love01.rpgmvp
!mojisozai_nuju_love02.rpgmvp
!mojisozai_nuju_love03.rpgmvp
!mojisozai_nuju_love04.rpgmvp
!mojisozai_nuju_love05.rpgmvp
!mojisozai_nuppon.rpgmvp
!mojisozai_pachun01.rpgmvp
!mojisozai_pachun02.rpgmvp
!mojisozai_pachun03.rpgmvp
!mojisozai_pachun04.rpgmvp
!mojisozai_pachun05.rpgmvp
!mojisozai_pan01.rpgmvp
!mojisozai_pan02.rpgmvp
!mojisozai_pan03.rpgmvp
!mojisozai_pan04.rpgmvp
!mojisozai_pan05.rpgmvp
!mojisozai_pero01.rpgmvp
!mojisozai_pero02.rpgmvp
!mojisozai_pero03.rpgmvp
!mojisozai_pero04.rpgmvp
!mojisozai_pero05.rpgmvp
!mojisozai_ton01.rpgmvp
!mojisozai_ton02.rpgmvp
!mojisozai_ton03.rpgmvp
!mojisozai_ton04.rpgmvp
!mojisozai_ton05.rpgmvp
!mojisozai_umu01.rpgmvp
!mojisozai_umu02.rpgmvp
!mojisozai_umu03.rpgmvp
!mojisozai_umu04.rpgmvp
!mojisozai_umu05.rpgmvp
!mojisozai_zuchu01.rpgmvp
!mojisozai_zuchu02.rpgmvp
!mojisozai_zuchu03.rpgmvp
!mojisozai_zuchu04.rpgmvp
!mojisozai_zuchu05.rpgmvp
!mojisozai_zuchu2_01.rpgmvp
!mojisozai_zuchu2_02.rpgmvp
!mojisozai_zuchu2_03.rpgmvp
!mojisozai_zuchu2_04.rpgmvp
!mojisozai_zuchu2_05.rpgmvp
!mojisozai_zupupu01.rpgmvp
!mojisozai_zupupu02.rpgmvp
!mojisozai_zupupu03.rpgmvp
!mojisozai_zupupu04.rpgmvp
!mojisozai_zupupu05.rpgmvp
!m_ha-.rpgmvp
!nigeru.rpgmvp
!noizu.rpgmvp
!nokkuauto.rpgmvp
!NPC.rpgmvp
!order.rpgmvp
!result.rpgmvp
!result_kikan_30ftoutatu.rpgmvp
!result_kikan_kogataw.rpgmvp
!result_kikan_toho.rpgmvp
!result_kikan_warp.rpgmvp
!result_kyuushutu.rpgmvp
!result_monica_down.rpgmvp
!result_monica_seizon.rpgmvp
!result_siawasenohako.rpgmvp
!result_zenmetu.rpgmvp
!sakiwoisogu.rpgmvp
!shuchuu.rpgmvp
!spark.rpgmvp
!SPEEDdown.rpgmvp
!SPEEDUP.rpgmvp
!susumu.rpgmvp
!S_dungeon.rpgmvp
!S_guild.rpgmvp
!S_INN.rpgmvp
!S_menu.rpgmvp
!S_odekake.rpgmvp
!S_shop.rpgmvp
!S_skillset.rpgmvp
!S_Training.rpgmvp
!S_uramichi.rpgmvp
!takarabako.rpgmvp
!tansakusuru.rpgmvp
!tasukeru.rpgmvp
!tekinonegura.rpgmvp
!torikesu.rpgmvp
!trap.rpgmvp
!turuginomai.rpgmvp
!WISDOMdown.rpgmvp
!WISDOMUP.rpgmvp
!yasumi.rpgmvp
!yasumu.rpgmvp
!zenryokugiri.rpgmvp